body{
    background-color: #bbdefb;
    font-family: 'Patrick Hand', cursive;
}

.topo {
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #37474f;
    font-weight: bold;
}

.botao-voltar{
    background-color: #ef5350;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
}

.botao-voltar:hover{
    background-color: #e53935;
}

.tabela {
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    margin: auto;
    color: #424242;
}