<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Área do Admin</title>
    <link rel="stylesheet" href="../static/homepage.css">

</head>

<body>

    <div class="topo">
        <h2>Área do Administrador</h2>
    </div>

    <div class="botao">
        <ul>
            <li> <a href="/pedidos" class="botao-admin">Ver pedidos dos clientes</a> </li>
            <br>
            <li> <a href="/gerenciar" class="botao-admin">Adicionar ou remover hambúrgueres</a> </li>
            <br>
            <li> <a href="/logout" class="botao-admin">Sair</a> </li>
        </ul>
    </div>


</body>
</html>