<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> HomePage</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    <div class="botao">
         <a href="/login" class="botao-login"> Login Admin</a>
    </div>

    <h1 class="topo"> Bem-vindo ao Siri Cascudo</h1>

    <div class="form">
        <form action="/fazerlogin" method="post">
            <input type="text" name="loginusuario" placeholder="digite seu login">
            <br>
            <input type="password" name="senhausuario" placeholder="digite sua senha">
            <br>
            <button type="submit" >Fazer login</button>

        </form>

        <p >
            <a>Não está cadastrado?</a>
            <a class="cadastro" href="/cadastrar">Cadastre-se</a>
        </p>


    </div>
</body>
</html>