<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Cadastro de Usuario</title>
    <link rel="stylesheet" href="../static/paginacadastro.css">
</head>
<body>

    <div class="topo">
        <h1>cadastrar usuário</h1>
    </div>

    <div class = "form">
    <form action="/cadastrar" method="post">
        <input type="text" name="nomeuser" placeholder="digite seu nome"><br>
        <input type="text" name="email" placeholder="digite seu email"><br>
        <input type="password" name="senha" placeholder="digite sua senha"><br>
        <input type="password" name="confirmacao" placeholder="repita sua senha"><br>

        <button type="submit" >Cadastrar </button>
    </form>
        </div>

</body>
</html>